.container {
  width: 100%;
  padding-inline: 10%;

  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.5px;
  color: rgb(180, 180, 180);
}

.title {
  font-weight: 600;
  font-size: 2rem;
  color: var(--link);
  font-family: var(--clickable);
}

.projectList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project {
  background-color: var(--light);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.img {
  width: min(80%, 100rem);
  border-radius: 1rem;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tab {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--link);
  color: black;
}
