.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: flex;
  justify-content: center;
  transition: ease 0.3s;
}

.open {
  z-index: 1;
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  transition: ease 0.3s;
  color: var(--link);
  font-size: 3rem;
  font-family: var(--clickable);
  padding: 2rem;
}

.item:nth-of-type(odd) {
  transform: translateX(-100vw);
}

.item:nth-of-type(even) {
  transform: translateX(100vw);
}

.open .item {
  transform: translateX(0);
}
